body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;

}

header {
  background-color: #3C91E6;
  width: 100%;
  color: white;
  min-height: 70px;
  border-bottom: 2px solid blueviolet;
  overflow: hidden;
}

.nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
  margin: 10px;
}

header .nav-brand {
  float: left;
  margin: 22px 10px;
  color: #061324;
  text-transform: uppercase;
}

header .nav a.icon {
  display: none;
  margin: 20px 10px;
}

header .nav .logout {
  float: right;
  color: #061324;
  margin-top: 5px;
}
header .nav .logout a {
  text-decoration: none;
  color: #061324;
}
header .nav .logout a:hover {
  color: #FFACAA;
}
.nav .logout a:hover {
  color: #FFACAA;
}

.aside-section {
  width: 20%;
  float: left;
  height: 100vh;
  box-shadow: 0 10px 35px -6px #8c8b8b inset;
}

.aside-section ul {
  list-style: none;
  padding: 0;
}

.aside-section li {
  padding: 10px;
  margin: 14px 0px;
  border-radius: 26px;
}

.aside-section a {
  text-decoration: none;
  color: black;
}

.aside-section li.active {
  background-color: #3C91E6;
}

.aside-section li:hover:not(.active) {
  background-color: darkgrey;
}

.main-section {
  float: right;
  width: 80%;
  margin-top: 10px;
}

.main-section ul {
  list-style-type: none;
  height: 80vh;
  overflow: scroll;
  padding: 0;
}

.main-section li {
  color: #111;
  border: 1px solid black;
  border-left: 0;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}
.main-section li:hover {
  box-shadow: 10px 3px 5px rgb(211, 173, 103);
}
.main-section a {
  text-decoration: none;
}

.main-section li span.sender {
  color: maroon;
  padding-right: 30px;
}
.main-section li span.body {
  margin-left: 5px;
  color: grey;
}
.main-section li span.status {
  padding-left: 50px;
  font-style: italic;
  color: grey;
  text-align: right;
}

.main-section .empty-inbox {
  text-align: center;
  color: grey;
  margin-top: 31%
}
@media screen and (max-width: 750px) {
  .aside-section {
    display: none;
  }
  .main-section {
    width: 100%;
  }
  header .nav a.icon {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  .aside-section.responsive {
    position: absolute;
    width: 39%;
    display: block;
    background-color: #f1f1f1;

  }
}
