.section {
    max-width: 350px;
    padding: 30px;
    margin: 3% auto;
    text-align: center;
}

label {
    display: block;
    font-weight: 600;
    padding: 3px 0;
    text-align: left;
}

.form-control {
    display: block;
    width: 95%;
    padding: 7px;
    font-size: 1em;
    font-weight: 400;
    border: 1px solid #ced4da;
    border-radius: .25em;
}

.submit-btn {
    padding: 10px;
    background-color: #DB5756;
    color: white;
    cursor: pointer;
    border-radius: .5em;
    margin-top: 10px;
    width: 100%;
}
.submit-btn:hover {
    background-color: #49738C;
}
#notification {
    margin-top: 10px;
}

