body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #49738c;
  width: 100%;
  color: white;
  padding-top: 20px;
  min-height: 70px;
  border-bottom: 2px solid blueviolet;
  overflow: hidden;
}

.nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
  margin: 10px;
}

header .nav-brand {
  float: left;
  margin: 22px 10px;
  color: #061324;
  text-transform: uppercase;
}

header .nav a.icon {
  display: none;
  margin: 20px 10px;
}

header .nav .logout {
  float: right;
  color: #061324;
  margin-top: 5px;
}
header .nav .logout a {
  text-decoration: none;
  color: #061324;
}

.section1 {
  width: 100%;
  background-color: darkgrey;
  display: block;
}
.section1 a {
  display: inline-block;
  padding: 5px 30px;
  text-decoration: none;
  text-align: center;
  color: #49738c;
  width: 15%;
  cursor: pointer;
}
.section1 a:hover,
header .logout a:hover {
  color: #db5756;
}

.aside-section {
  width: 26%;
  float: left;
  height: 73vh;
  background-color: whitesmoke;
}

.aside-section ul {
  list-style: none;
  padding: 0;
}

.aside-section li {
  padding: 10px;
  margin: 14px 0px;
  border-radius: 26px;
  border-bottom: 1px solid maroon;
}

.aside-section a {
  text-decoration: none;
  color: black;
}

.aside-section li.active {
  background-color: #49738c;
}

.aside-section li:hover:not(.active) {
  background-color: darkgrey;
}

@media screen and (max-width: 750px) {
  .aside-section {
    display: none;
  }
  header .nav a.icon {
    display: block;
    float: left;
  }
}
@media screen and (max-width: 750px) {
  .aside-section.responsive {
    position: absolute;
    width: 32%;
    display: block;
  }
}
