form {
    max-width: 290px;
    padding: 30px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    margin: 10% auto;
}

.form-title {
    text-align: center;
    font-size: 1.5em;
    margin-top: 0;
}

.form-group {
    margin: 1rem;
}

label {
    display: block;
    margin-bottom: .5rem;
    color: black;
}

.form-control {
    display: block;
    width: 100%;
    padding: 7px;
    font-size: 1em;
    font-weight: 400;
    border: 1px solid #ced4da;
    border-radius: .25em;
}
.form-check-input {
    float: left;
    margin: 3px;
}


.submit-btn {
    padding: 10px 20px;
    background-color: #49738C;
    color: white;
    cursor: pointer;
    border-radius: .5em;
}
.submit-btn:hover {
    background-color: #DB5756;
}